<?php
include '../shared-layouts/_Layout.php';
?>
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-body">
<form method="post">
<!-- BS FORM -->
		
<?php foreach($activities as $act)
 {	?>		
 			 <legend><h4>Update Activity Post:  <strong>
 		     	<?php
 		     	echo $act["activityTitle"];;
 		     	?>
 		     </strong> 
 		     </h4>

 		    </legend>
	    	<div class="form-group col-md-6">
				<label for="txtacttitle">Title</label>
				<input type="hidden" class="form-control" name="txtid" value="<?php echo $act["activityID"]; ?>" />
				<input type="text" class="form-control" name="txtacttitle" value="<?php echo $act["activityTitle"]; ?>"/>
			</div>
			    
           </div>
			<div class="form-group">
				<label for="txtactdesc">Description</label>
				<textarea name="txtactdesc" cols="50" style="height:300px; padding:100px"><?php echo $act["activityDescription"]; ?></textarea>';
			</div>

			<div >
				<label for="txtdate">Date</label>
				<input type="text" class="form-control" name="txtdate" readonly value="<?php echo $act["datePosted"]; ?>" />
			</div>	


			<div class="form-group">
				<label for="cbostatus">Status</label>
				<select type="" class="form-control" name="cbostatus" >
					<option value="1">Active</option>
					<option value="0">Inactive</option>
				</select>
			</br>
			</br>
			     <a class="btn btn-sm btn-default" href="activityupload.php?id=<?php echo $_GET["id"];?> "  ><span class="fa fa-camera fa-fw"></span>Upload Image</a> 
			     <a class="btn btn-sm btn-default" href="activityallimage.php?id=<?php echo $_GET["id"];?> ">View Uploaded Images</a>
			</div>
			
			
<?php } ?>	

<?php
 if(isset($_POST["btnedit"]))
 {		
		include_once '../controller/activities/activities_edit_record.php';
		$array = array(
		"activityTitle" => $_POST["txtacttitle"],
		"activityDescription" => $_POST["txtactdesc"],
		"datePosted" => $_POST["txtdate"],
		"activityStatus" => $_POST["cbostatus"]

		);
		$obj = new activities_edit_record;
		$obj->updateinfo($array, "activityID", $_POST["txtid"]);

		echo "<script>					
												  { 
										 			    						
	 													window.location.href='activities_record.php?control=view_record&func=listall';
											
		
												  }
	 												   </script>";
		
 }
?>             
   </div>
         <div class="panel-footer clearfix">
		   <div class="pull-right">
				<button type="button" class="btn btn-sm btn-default">
                  <span class="fa fa-times fa-fw"></span>&nbsp;Cancel
                </button> 				
                <button type="submit" name="btnedit" class="btn btn-sm btn-success">
                  <span class="fa fa-floppy-o fa-fw"></span>&nbsp;Save
                </button>               
            </div>         
		 </div>
    </div>
    </form>	
</div>

<script type="text/javascript">
	tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons", });
</script>


