<?php
include '../shared-layouts/_Layout.php';
include '../views/modals/activity.php';
?>
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">           
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa fa-wrench fa-fw"></span>&nbsp;Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#activityModal">Add Record</a></li>
                   
            </div>
        </div>
        <div class="panel-body">

            <!-- Data Table Goes Here-->
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>                      
                        <th>Title</th>
                        <th width="200px">Description</th>						
                        <th>Status</th>    
                        <th></th>                          
                    </tr>
                </thead>
                <tbody>
<?php 
 foreach($activities as $act)
	{
		echo '<tr>';
		echo '<td> '.$act["activityTitle"].' </td>';
		echo '<td> '.$act["activityDescription"].' </td>';
		if ($act["activityStatus"] == 1) {
        echo '<td><label class="label label-success">Active</label></td>';  
        }
        else {
        echo '<td><label class="label label-danger">InActive</label></td>';             
        }		
    echo '<td><a href="edit_activity.php?control=activities_edit_record&func=edit&id='.$act["activityID"].'"><big>Edit</a></td>'; 
		echo '</tr>';		
	}
?>
                </tbody>
            </table>
            <!-- End Data Table-->
        </div>
    </div>
</div>

<script type="text/javascript">
    tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons", });
</script>
