<?php
include '../shared-layouts/_Layout.php';
?>
<div class="col-md-7">
    <div class="panel panel-default">
        <div class="panel-body">
<form method="post">
<!-- BS FORM -->
		<div class="modal-body">
<?php foreach($clientinfo as $client)
 {	?>		
	    	<div class="form-group">
				<label for="txtusername">Username</label>
				<input type="hidden" class="form-control" name="txtid" value="<?php echo $client["userID"]; ?>" />
				<input type="text" class="form-control" name="txtusername" value="<?php echo $client["userName"]; ?>" />
			</div>
			
	    	<div class="form-group">
				<label for="txtpassword">Password</label>
				<input type="text" class="form-control" name="txtpassword" value="<?php echo $client["userPassword"]; ?>">
			</div>		

	    	<div class="form-group">
				<label for="txtfname">User Status</label>
				<input type="text" class="form-control" name="userstatus" value="<?php echo $client["userStatus"]; ?>">
			</div>	

	    		
	    	<div class="form-group">
				<label for="cbousertype">User Type</label>
				<input type="text" class="form-control" name="cbousertype">
			</div>			
			
	    	<div class="form-group">
				<button type="submit" class="btn btn-primary" name="btnedit">Edit</button>
			</div>				
			
		</div>	
<?php } ?>
		
<!-- END BS FORM -->

            <!-- Data Table Goes Here-->
<?php
/* 
 foreach($clientinfo as $client)
 {	
		echo '<tr>';	
		echo '<td><input type="hidden" name="userid" value="'.$client["userID"].'" </td>';		
		echo '<td><input type="text" name="username" value="'.$client["userName"].'" </td>';
		echo '<td><input type="text" name="pass" value="'.$client["userPassword"].'" </td>';
		echo '<td><input type="text" name="fname" value="'.$client["userStatus"].'" </td>';
		echo '<td><input type="text" name="usertype" value="'.$client["userTypeID"].'" </td>';
		echo '<td><button name="editbutton" type="submit" class="btn-primary" style="float:right; margin-right: 90px;">Edit</button></td>';
		echo '</tr>';
 }
*/
?>

<?php
 if(isset($_POST["btnedit"]))
 {		
		include_once '../controller/admin/admin_edit_record.php';
		$array = array(
		"userName" => $_POST["txtusername"],
		"userPassword" => $_POST["txtpassword"],
		"userStatus" => $_POST["userstatus"],
		"userTypeID" => $_POST["cbousertype"]
		);
		$obj = new admin_edit_record;
		$obj->updateinfo($array, "userID", $_POST["txtid"]);
		
 }
?>
              
</form>			
            
        </div>
    </div>
</div>
