
Options -MultiViews
Options -Indexes

RewriteEngine On
RewriteBase /stialumni.3eeweb.com/mvc-app/

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ home.php [QSA,L]
