<?php 
include '../shared-layouts/_layout.php';
include '../views/modals/addusertype.php';
?>
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-body">
<form method="post">
<!-- BS FORM -->
		    
<?php foreach($clientinfo as $client)
 {	?>		
 			 <legend><h4>Update Record:  <strong>
 		     	<?php
 		     	echo $client["typeName"];;
 		     	?>
 		     </strong> 
 		     </h4>

 		    </legend>
	    	<div class="form-group col-md-5">
				<label for="txttypename">User Type name</label>
				<input type="hidden" class="form-control" name="txttypeid" value="<?php echo $client["typeID"]; ?>" />
				<input type="text" class="form-control" name="txttypename" value="<?php echo $client["typeName"]; ?>" />
			</div>		        		

<?php } ?>
		
         
<?php
 if(isset($_POST["btnedit"]))
 {		
		include_once '../controller/usertype/usertype_edit_record.php';
		$array = array(
		"typeName" => $_POST["txttypename"]
		);
		$obj = new usertype_edit_record;
		$obj->updateinfo($array, "typeID", $_POST["txttypeid"]);

		echo "<script>					
												  { 
										 			    						
	 													window.location.href='usertype_record.php?control=view_record&func=listall';
											
		
												  }
	 												   </script>";	
		
 }
?>
              
		
            
        </div>
        <div class="panel-footer clearfix">
		   <div class="pull-right">
				<button type="button" class="btn btn-sm btn-default">
                  <span class="fa fa-times fa-fw"></span>&nbsp;Cancel
                </button> 				
                <button type="submit" name="btnedit" class="btn btn-sm btn-success">
                  <span class="fa fa-floppy-o fa-fw"></span>&nbsp;Save
                </button>               
            </div>         
		 </div>
		     </form>	
    </div>

</div>
</body>
</html>