<?php 
include '../shared-layouts/_layout.php';
include '../views/modals/add_news.php';
?>
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-body">
<form method="post">
<!-- BS FORM -->
	
<?php foreach($news as $n)
 {	?>		

 			<legend><h4>Update News Post:  <strong>
 		     	<?php
 		     	echo $n["newsTitle"];;
 		     	?>
 		     </strong> 
 		     </h4>
 		    </legend>
	    	<div class="form-group col-md-4">
				<label for="txtnewstitle">News Title</label>
				<input type="hidden" class="form-control" name="txtnewsid" value="<?php echo $n["newsID"]; ?>" />
				<input type="text" class="form-control" name="txtnewstitle" value="<?php echo $n["newsTitle"]; ?>" />
			</div>

				
			<div class="form-group col-md-4">
				<label for="txtdate">Date Posted</label>
				<input type="text" class="form-control" name="txtdate" value="<?php echo $n["datePosted"]; ?>" />
			</div>
            
			</div>
	         
	    	<div>
				<label for="txtnewsdesc">News Description</label>
				<textarea name="txtnewsdesc" cols="50" style="height:300px; padding:100px"><?php echo $n["newsDesc"]; ?></textarea>';
			</div>
		    
			
		
<?php } ?>
		

<?php
 if(isset($_POST["btnedit"]))
 {		
		include_once '../controller/news/news_edit_record.php';
		$array = array(
		"newsTitle" => $_POST["txtnewstitle"],
		"newsDesc" => $_POST["txtnewsdesc"],
		"datePosted" => $_POST["txtdate"]
		);
		$obj = new news_edit_record;
		$obj->updateinfo($array, "newsID", $_POST["txtnewsid"]);

		echo "<script>					
												  { 
										 			    						
	 													window.location.href='news_record.php?control=view_record&func=listall';
											
		
												  }
	 												   </script>";
		
 }
?>
              
		
            
        
         <div class="panel-footer clearfix">
		   <div class="pull-right">
				<button type="button" class="btn btn-sm btn-default">
                  <span class="fa fa-times fa-fw"></span>&nbsp;Cancel
                </button> 				
                <button type="submit" name="btnedit" class="btn btn-sm btn-success">
                  <span class="fa fa-floppy-o fa-fw"></span>&nbsp;Save
                </button>               
            </div>         
		 </div>
        </form>	
    </div>
</div>
<script type="text/javascript">
	tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons", });
</script>

</body>
</html>