<?php 
include '../shared-layouts/_layout.php';
include '../views/modals/add_news.php';
?>
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">          
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa fa-wrench fa-fw"></span>&nbsp; Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#newsModal">Add Record</a></li>
                                     
                </ul>
            </div>
        </div>
        <div class="panel-body">

            <!-- Data Table Goes Here-->
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>                       
                        <th>News Title</th>
                        <th>News Description</th>
                        <th>Date Posted</th>
                        <th>Action</th>						
                    </tr>
                </thead>              
                <tbody>
<?php

 foreach($cont as $c)
	{
        $time = strtotime($c["datePosted"]);
        $newDate = date("F d, Y", $time); 
		echo '<tr>';		
		echo '<td> '.$c["newsTitle"].' </td>';
        echo '<td> '.$c["newsDesc"].' </td>';
        echo '<td> '. $newDate .' </td>';
		echo '<td><a href="edit_news.php?control=news_edit_record&func=edit&id='.$c["newsID"].'"><big>Edit</a></td>';	
		echo '</tr>';		
	}
?>
                </tbody>
            </table>
            <!-- End Data Table-->
        </div>
    </div>
</div>
<script type="text/javascript">
    tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons", });
</script>
</body>
</html>