<?php 
include '../shared-layouts/_Layout.php'; 
?>
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-body">		  
			<legend><h3>Edit Post</h2></legend>
<form method="post">
	
<?php foreach($post as $p)
 {	?>		
			<input type="hidden" class="form-control" name="txtid" value="<?php echo $p["postID"]; ?>" />
	    	<div class="form-group col-md-8">	
				<label for="txtposttitle">Title</label>			
				<input type="text" class="form-control" name="txtposttitle" value="<?php echo $p["postTitle"]; ?>" />
			</div>	
			<div class="form-group col-md-8">	
				<label for="txtpostdesc">Post Description</label>			
				<input type="text" class="form-control" name="txtpostdesc" value="<?php echo $p["postDesc"]; ?>" />
			</div>	
			
			<div class="form-group col-md-8">				
				<label for="cbostatus">Status</label>
				<select type="" class="form-control" name="cbostatus" >
					<option value="1">Active</option>
					<option value="0">Inactive</option>
				</select>
			</div>	
			
			
<?php } ?>

                </tbody>
            </table>

        </div>
		 <div class="panel-footer clearfix">
		 <div class="pull-right">
				<a href="javascript:history.go(-1)" class="btn btn-sm btn-default">&nbsp;Cancel</a>		
		        <button type="submit" name="btn-edit" class="btn btn-sm btn-success">
                <span class="fa fa-floppy-o fa-fw"></span>&nbsp;Save
                </button>
			</div>         
		 </div>
    </div>
	
<?php
 if(isset($_POST["btn-edit"]))
 {		
		include_once '../controller/forumcategory/edit_post.php';
		$array = array(
		"postTitle" => $_POST["txtposttitle"],
		"postDesc" => $_POST["txtpostdesc"],
		"postStatus" => $_POST["cbostatus"];
		);
		$obj = new edit_post;
		$obj->updateinfo($array, "postID", $_POST["txtid"]);

		echo "<script>					
												  { 
										 			    						
	 													window.location.href='forum_record.php?control=topic&func=display&topicid=".$_GET["id"]."';
											
		
												  }
	 												   </script>";		
 }
?>
</form>	
