<?php
include '../shared-layouts/_Layout.php';
include "modals/post.php";
include "../controller/forumcategory/modal_controller.php";
?>
	<!-- start slider -->
	<div class="container">
		<div class="row">

<?php foreach($topic as $t) { ?> 	
<div class="col-md-10">
	<div class="panel panel-info">
		<div class="panel-heading clearfix">
			<h1 class="panel-title pull-left"><big><big><big><b><?php echo $t["topicTitle"] ?></b></big></big></big></h1>
		</div>
	
		<div class="panel-body">
			<div class="col-md-2">
			<b>Added by: Admin</b>
			</div>		
			<div class="col-md-10" style="-moz-box-shadow: 1px 1px 3px 2px #d3d3d3;
										-webkit-box-shadow: 1px 1px 3px 2px #d3d3d3;
										box-shadow: 1px 1px 3px 2px #d3d3d3;">
			<p><b><?php echo $t["topicDesc"] ?></b></p>
			<p class="pull-right"><b>
			<?php 
			$date = date_create($t["dateCreated"]);
			echo date_format($date, "M-d-Y g:ia"); 
			?></b></p>
			</div>

			<div class="col-md-12">
			<p class="col-md-12 col-md-offset-5"></p>
			</div>
			<div class="col-md-12">
			<p class="col-md-12 col-md-offset-5"><b>Related Post</b></p>
			</div>
			<hr/>
<?php foreach($posts as $p) 
{
if($t["topicID"] == $p["topicID"])
	{
		$date = date_create($p["datePosted"]);
		include_once "../controller/forumcategory/queries.php";
		$q = new query;
		$user = $p["userID"];
		$user = $q->getUser($user);		
		
		echo '<p class="col-md-3"><i class="fa fa-thumb-tack fa-fw"></i>Posted By : '.$user.' ';	
		echo '<p class="col-md-4">&nbsp;<a href="?control=post&func=display&postid='.$p["postID"].'"><i class="fa fa-link fa-fw"></i>'.$p["postTitle"].'</p></a></p>';
		echo '<p class="col-md-3"><i class="fa fa-calendar fa-fw"></i>'.date_format($date, "M-d-Y g:ia").'</p>';
		echo '<p class="col-md-2"><a href="forum_record.php?control=edit_post&func=edit&id='.$p["postID"].'&topicid='.$_GET["topicid"].'"><i class="fa fa-pencil-square fa-lg pull-right"></i></a></p>';
	
	}		
} 
?>
		</div>		
		<div class="panel-footer clearfix">
		<p class="pull-right">
		<a href="forum_record.php?control=page&func=display" class="btn btn-sm btn-default"><i class="fa fa-reply fa-fw"></i>Go Back</a>			
		<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#postModal"><i class="fa fa-plus-square"></i> &nbsp;New Post</button>
		</p>
		</div>
	</div>
</div>	
<?php } ?>	


</div>
</div>

	

